body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:mediumvioletred;
    border-bottom: 2px solid mediumvioletred;
    font-size: 20px;
}

header a {
    color: mediumvioletred;
}

#intro-page {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color:mediumvioletred;
    border: 2px solid mediumvioletred;
    border-radius: 5px;
    background-color:whitesmoke;
}

#intro-page h1 {
    font-size: 30px;
}

#start-btn {
    color: mediumvioletred;
    font-size: 20px;
    padding: 10px;
}

.quiz {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color:mediumvioletred;
    border: 2px solid mediumvioletred;
    border-radius: 5px;
    background-color:whitesmoke;
    font-size: 25px;
}

.quiz button {
    color:midnightblue;
    padding: 15px;
    margin: 20px auto 10px auto;
    font-size: 20px;
    width: 100%;
}

.scoreForm {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color:mediumvioletred;
    border: 2px solid mediumvioletred;
    border-radius: 5px;
    background-color:whitesmoke;
    font-size: 25px;
}

.scoreForm input {
    padding: 4px;
}

.scoreForm button {
    color:mediumvioletred;
    font-size: 18px;
}

#scoreTable {
    padding: 20px;
    color:mediumvioletred;
    border:1px solid mediumvioletred;
}
